.container{
    display: flex;
    justify-content: space-around;
    margin: 60px 0 80px;
    flex-wrap: wrap;
    min-height: 100vh;
 
}
.container h1{
    font-size: 3rem;
   color: rgba(17, 16, 16, 0.789);
   display:contents;
   justify-content:center;
}